body {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
    margin: 0;
  }

  .container-fluid {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  }

  .logoImage {
    margin-top: 15px;
    width: 200px;
  }
  .ant-layout {
    background: #fff !important;
  }  