.content-holder{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.break-line{
    margin: 5px 0;
    color: black;
}

.text-input{
    width: 330px;
    padding: 10px 8px;
    border-radius: 2px;
    background-color: aliceblue;
    margin-top: 15px;
}

.submit-btn{
    width: 330px;
    padding: 10px 8px;
    border-radius: 2px;
    margin-top: 15px;
    background-color: darkgray;
    color: #fff;
}

.page-header{
    font-size: 32px;
}

.input-form{
    display: flex;
    flex-direction: column;
}