.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;

  box-shadow: 0px 3px 9px 1px #888888;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin: 18px 12px;
  font-size: 20px;
  cursor: pointer;
}

.brand {
  font-size: 32px;
  margin: 5px 60px;
  word-spacing: 1px;
}
